body {
    font-family: Roboto Mono, monospace;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    background-color: #010417; /*dark blue*/
    font-weight: bold;
}

.flex-container {
    /*To spread out the items inside the top nav bar*/
    display: flex;
    justify-content: space-between;
    /*--------------------------------*/
    align-items: baseline;

}

.nav-items {
    display: inline-flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-items a {
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}

.nav-items li {
    padding: 0 10px;
}

#me-container {
     /*To spread out the items inside flex container*/
     display: flex;
     justify-content: space-between;
     /*--------------------------------*/
     margin-top: 40px;
}

.profile-pic {
    width: 400px;
}

#me-text-container {
    margin-top: 40px;
    width: 525px;
}

/*
.button-my-projects {
    font-family: Roboto Mono;
    font-weight: 700;
    border-radius: 3rem; 
    overflow: hidden;
    color: aliceblue;
    background-color: #ab4007;
    cursor: pointer;
    padding: .8rem 1.8rem;
    margin-left: 150px;
    box-shadow: 0 9px     
}

.button-my-projects:hover {
    background-color:  #1b36a1;
    transition: 0.7s;
}

.button-my-projects:active {
    background-color: #1b36a1;
    box-shadow: 0 5px lightblue;
    transform: translateY(10px);
}

*/

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.button-my-projects {
    font-family: Roboto Mono;
    font-weight: 700;
    border-radius: 3rem; 
    width: 200px;
    overflow: hidden;
    color: aliceblue;
    background-color: #ab4007;
    cursor: pointer;
    padding: .8rem 1.8rem;
    transition: 0.2s all;
}

/*adding transformation when the button is active*/

.button-my-projects:active {
    /*scaling button to 0.98 to its original size*/
    transform: scale(0.95);
    /*-------------------------------------*/    
}

.button-my-projects:hover {
    background-color:  #1b36a1;
    transition: 0.2s;
}

.buttonMySkills {
    font-family: Roboto Mono;
    font-weight: 700;
    border-radius: 3rem; 
    width: 200px;
    overflow: hidden;
    color: aliceblue;
    background-color: #ab4007;
    cursor: pointer;
    padding: .8rem 1.8rem;
    transition: 0.2s all;
}

/*adding transformation when the button is active*/

.buttonMySkills:active {
    /*scaling button to 0.98 to its original size*/
    transform: scale(0.95);
    /*-------------------------------------*/    
}

.buttonMySkills:hover {
    background-color:  #1b36a1;
    transition: 0.2s;
}

.buttonMyContacts {
    font-family: Roboto Mono;
    font-weight: 700;
    border-radius: 3rem; 
    width: 200px;
    overflow: hidden;
    color: aliceblue;
    background-color: #ab4007;
    cursor: pointer;
    padding: .8rem 1.8rem;
    transition: 0.2s all;
}

/*adding transformation when the button is active*/

.buttonMyContacts:active {
    /*scaling button to 0.98 to its original size*/
    transform: scale(0.95);
    /*-------------------------------------*/    
}

.buttonMyContacts:hover {
    background-color:  #1b36a1;
    transition: 0.2s;
}


#favSkills {
    display: none; /*put flex if you want to display the logos back  */
    justify-content: space-between;
    font-size: 32px;
    margin-top: 75px;
    margin-left: 250px;
    margin-right: 250px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: fadeIn 3s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }


}


#logoDisplay {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-left: 20px;
}

#htmlPic {
    display: none;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

#cssPic {
    display: none;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: fadeIn 2s;
}

#jsPic {
    display: none;
    margin-left: 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: fadeIn 4s;
}

#gitHubPic {
    display: none;
    margin-left: 7px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: fadeIn 6s;
}

#gitPic {
    display: none;
    margin-right: -10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: fadeIn 8s;
}

#excelPic {
    display: none;
    
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: fadeIn 10s; 
}

#contactDisplay {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0 240px 0 240px;
}

#linkedInPic {
    display: none;
    width: 45px;
    height: 45px;
    
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

#emailContact {
    display: none;
    
    animation: fadeIn 4s;
}


@media only screen and (max-width: 1000px) {
    body {
        max-width: 900px;
    }
}


@media only screen and (max-width: 970px), screen and (max-height: 570px) {
    header {
        padding: 0 30px;
    }

    #me-text-container {
        margin-top: 10px;
        padding: 0 30px;
    }

    .profile-pic {
        padding-right: 30px;
        width: 300px;
        height: 275px;
    }


    #logoDisplay {
        margin-left: 40px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 870px) {
    #contactDisplay {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media only screen and (max-width: 780px) {
    .profile-pic {
        margin-top: 30px;
        height: 300px;
        width: 300px;
    }

    #me-container {
        margin-top: -20px;
    }

    #contactDisplay {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 25px 25px;
    }

    .button-my-projects {
        width: 150px;
    }

    .buttonMySkills {
        width: 150px;
    }

    .buttonMyContacts {
        width: 150px;
    }

}


@media only screen and (max-width: 650px) {
    #me-container {
        margin-top: -20px;
    }

    .profile-pic {
        margin-top: 70px;
        height: 250px;
        width: 250px;
    }

   

}

@media only screen and (max-width: 600px) {
    body {
        margin: auto;
    }

    #me-container {
        display: block;
    } 

    #me-text-container {
        margin-top: 30px;
    }

    .profile-pic {
        margin-top: 50px;
        margin-left: 230px;
        height: 150px;
        width: 150px;
    }
    /*
    the more i push the container to the right the more it shirnks as is if there is a barrier...
    .buttons {
        margin-left: 150px;
    }
    */

    .button-my-projects {
        width: 100px;
        height: 45px;
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .buttonMySkills {
        width: 100px;
        height: 45px;
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .buttonMyContacts {
        width: 100px;
        height: 45px;
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }




    

    /* logos to be centered!!! */
  
    /*---------------------------------- */
   
}

